tr: hover {
  background-color: rgb(235, 245, 251);
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px;
}

h2{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

table {
  font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L', sans-serif;
}

#tablet {
  text-align: center;
}
