table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 3px solid #ddd;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
}

h2{
  text-align: center;
  border: 3px;
  border-style: dashed;
  border-color: white;
  font-size: 40px;
}

body {
  background-color: rgb(135, 173, 194);
  font-family: 'Gochi Hand', cursive;
}
