tr: hover {
  background-color: rgb(235, 245, 251);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px;
}

h2{
  text-align: center;
}

body {
  background-color: rgb(197, 202, 204);
  font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L', sans-serif;
}

#tablet {
  text-align: center;
}
